body {
    background: #000;
    color: white;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

#phrase {
    opacity: 1;
    width: 100%;
    border: none;
    font: 24pt monospace;
    color: #00FFFF;
    background: #000;
    outline: none;
}