.logo {
    width: 50%;
    height: 50%;
    background: url("./assets/logo.png") no-repeat center;
    background-size: 1em 1em;
    bottom: 0.4em;
    position: absolute;
    animation: appChangeColor 10s ease-in-out infinite;
}

@keyframes appChangeColor {
    0%{transform: scale(1) rotate(0deg);}
    51%{transform: scale(0.55) rotate(180deg);}
    100%{transform: scale(1) rotate(360deg);}
}